.mat-sidenav-container{
    background: transparent;
    height: 90%;

}
.sidenav-bar{
    width: 25%;
    padding: 2%;
    background:rgb(53, 53, 53);
}
.btn-link{
    color: #ffffff;
}
.container{
    -webkit-box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
    -moz-box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
    box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
    height: 90%;
    align-items: center;
    overflow-y: scroll;
}









 /* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .sidenav-bar{
        width: 40%;
    }
    .container{
        -webkit-box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
        -moz-box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
        box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
        height: 90%;
        align-items: center;
        overflow-y: scroll;
    }
    
    
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .sidenav-bar{
        width: 35%;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .sidenav-bar{
        width: 35%;
    }
    .container{
        height: 90%;
        margin-top: 0% !important;
        -webkit-box-shadow: -5px 3px 58px 8px transparent;
        -moz-box-shadow: -5px 3px 58px 8px transparent;
        box-shadow: -5px 3px 58px 8px transparent;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .sidenav-bar{
        width: 30%;
    }
    .container{
        height: 90%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {    
    .sidenav-bar{
        width: 60%;
    }
    .container{
        height: 100%;
        margin-top: 0% !important;
        -webkit-box-shadow: -5px 3px 58px 8px transparent;
        -moz-box-shadow: -5px 3px 58px 8px transparent;
        box-shadow: -5px 3px 58px 8px transparent;
    }
}