<table class="table table-striped table-dark animated fadeIn">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Rol</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>David</td>
        <td>López</td>
        <td>Rol 1</td>
        <td>
          <button  mat-raised-button (click)="openDialog('David')" class="m-1 btn btn-primary btn-sm"><i class="fas fa-plus"> Asignar</i></button>
          <button class="m-1 btn btn-danger btn-sm"><i class="fas fa-times-circle"> Expulsar</i></button>
        </td>
      </tr>
      <tr>
        <td>Lidia</td>
        <td>Torres</td>
        <td>Rol 2</td>
        <td>
            <button class="m-1 btn btn-primary btn-sm"><i class="fas fa-plus"> Asignar</i></button>
            <button class="m-1 btn btn-danger btn-sm"><i class="fas fa-times-circle"> Expulsar</i></button>
          </td>
      </tr>
    </tbody>
  </table>