<h1 mat-dialog-title>{{data.data.title}}</h1>
<mat-dialog-content class="mat-typography">
    <hr>
    <div class="row justify-content-center" [ngSwitch]="estado">
        <span class="badge badge-success"
        *ngSwitchCase="'a'">Terminado</span>
        <span class="badge badge-warning"
        *ngSwitchCase="'b'">En proceso</span>
        <span class="badge badge-danger"
        *ngSwitchCase="'c'">Sin empezar</span>
    </div>
    <hr>
    <div class="dropdown">
        <select #selectEstado id="selectEstado" (change)="cambioStatus()" class="ml-3 custom-select">
            <option value="estado">--Estado en el que se encuentra la tarea--</option>
            <option value="a">Terminado</option>
            <option value="b">En proceso</option>
            <option value="c">Sin empezar</option>
        </select>
    </div>
    <br>
    <p>{{data.data.descripcion}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-danger mr-2" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>