<h1 mat-dialog-title>Asignar tarea</h1>
<form (ngSubmit)="onNoClick(forma,fechaInicio.value,fechaLimite.value)" #forma="ngForm">
    <mat-dialog-content class="mat-typography">
            <mat-form-field>
            <input matInput placeholder="Titulo" #titulo ngModel name="titulo"
            required type="text" id="titulo">
            </mat-form-field>
            <br>
            <mat-form-field>
            <textarea matInput ngModel required placeholder="Descripción"
            name="descripcion" id="descripcionTarea"  #descripcionTarea></textarea>
          </mat-form-field>
          <br>
            <mat-form-field>
                <input matInput  required readonly name="start" [ngModel]="fechaInicio"
                 [matDatepicker]="picker" placeholder="Fecha de inicio" #fechaInicio id="fechaInicio">
                <mat-datepicker-toggle disabled="false" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker disabled="false" #picker></mat-datepicker>
              </mat-form-field>
              <br>
              <mat-form-field>
                    <input required readonly name="end" [ngModel]="fechaFinal"
                    matInput [matDatepicker]="picker2" placeholder="Fecha límite" #fechaLimite id="fechaLimite">
                    <mat-datepicker-toggle matSuffix [for]="picker2" disabled="false"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                  </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="btn btn-danger mr-2" mat-dialog-close>Cancelar</button>
        <button type="submit"  class="btn btn-primary">Agregar</button>
      </mat-dialog-actions>

    </form>


