<div class="card-columns animated fadeIn">
  <div *ngFor="let usuario of usuarios" class="card">
    <img class="card-img-top" [src]="usuario.identity.picture"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title justify-content-center d-flex">{{usuario.identity.name}}</h5>
      <div class="justify-content-center">
        <button class="btn btn-outline-primary btn-sm"><i class="fas fa-tasks"></i> Ver actividad</button>
        <button class="btn btn-primary btn-sm mt-1"><i class="fas fa-plus"></i> Asignar tarea</button>
      </div>
    </div>
  </div>
  </div>