<div class="card-columns animated fadeIn">
  <div class="card">
    <img class="card-img-top" src="https://png2.kisspng.com/20180508/ozq/kisspng-user-computer-icons-system-chinese-wind-title-column-5af1427fd3ab48.378455571525760639867.png"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title justify-content-center d-flex">USUARIO</h5>
      <div class="justify-content-center d-flex">
        <button class="btn btn-outline-primary btn-sm">Ver actividad</button>
      </div>
    </div>
  </div>
  </div>